@font-face {
    font-family: "menlo";
    src: url("Menlo.ttc");
}

body {
  margin: 0;
  padding: 0;
  background-color: #15161d;
  font-family: "monlo", monospace;
  color: #ffffff;
}

.homewrapper {
  height: 100vh;
  padding: 0 8em;
  display: flex;
  align-items: center;
}

#nav {
  position: fixed;
  top: 4em;
  left: 6em;
}

#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav li {
  display: inline-block;
  padding: 0 2em;
}

#nav li:nth-child(1) a {
  color: #ff5252;
}

#nav li:nth-child(2) a{
  color: #2196f3;
}

#nav li:nth-child(3) a{
  color: #4caf50;
}

a {
  text-decoration: none;
  font-size: 1em;
  color: #666666;
}

/*a:hover {
  color: #ffffff;
}*/

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #ffffff;
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

.homecontainer {

}

h1 {
  font-size: 2em;
}

p {
  line-height: 1.7;
  max-width: 35em;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
}

#hometitle {
  color: #ffeb3b;
}

.hometext {
  font-size: 1.6em;
  line-height: 1.7;
  max-width: 35em;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
}

.color {
  color: #ff5252;
}

.contact {
  display: inline-flex;
  align-items: center;
}

.contact:hover {
  color: #9c27b0;
}

.contact i {
  transform: rotate(-45deg);
}

.tag {
  font-size: 0.8em;
  position: absolute;
  bottom: 4em;
  right: 12em;

}

.projectswrapper {
  padding: 0 8em;
}

#porjects {
  height: 100vh;
}

section {
  height: 100vh;
}

.projectscontainer {
  height: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#projectstitle {
  color: #ffeb3b;
  margin: 0;
}

.projectstext {
  font-size: 1.6em;
}

#jumpmenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

#jumpmenu li {
  display: inline-block;
  padding-right: 2em;
}

#jumpmenu a{
  color: #2196f3;
}

.project1wrapper {
  height: inherit;
}

.project2wrapper {
  height: inherit;
}

.project3wrapper {
  height: inherit;
}

.project4wrapper {
  height: inherit;
}

.project5wrapper {
  height: inherit;
}

.leftwrapper {
  height: inherit;
}

.leftcontainer {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projecttitle {
  color: #ffeb3b;
}

.projectsubtitle1 {
  font-size: 1.6em;
}

.projectsubtitle2 {
  font-size: 1.2em;
}

.projectlinkscontainer {
  margin-bottom: 2em;
}

.projectlinks {
  color: #2196f3;
  margin-right: 2em;
}

.learningwrapper {
  padding: 0 8em;
}

#learningtitle {
  color: #ffeb3b;
  margin: 0;
}

.learningtext {
  font-size: 1.6em;
}

#jumpmenu2 {
  list-style: none;
  margin: 0;
  padding: 0;
}

#jumpmenu2 li {
  display: inline-block;
  padding-right: 2em;
}

#jumpmenu2 a{
  color: #4caf50;
}
